<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.tango.surfing.core.dal.mapper.test.TestQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coco.tango.surfing.core.dal.domain.test.TestQuestion">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="order_num" property="orderNum"/>
        <result column="create_type" property="createType"/>
        <result column="question_type" property="questionType"/>


        <result column="deleted" property="deleted"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>


        <collection property="testQuestionChoices" javaType="java.util.ArrayList"
                    ofType="com.coco.tango.surfing.core.dal.domain.test.TestQuestionChoice">
            <result column="question_id" property="questionId"/>
            <result column="qu_content" property="content"/>
            <result column="qu_order_num" property="orderNum"/>
            <result column="order_char" property="orderChar"/>
            <result column="score" property="score"/>
        </collection>

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, order_num, create_type, question_type, deleted, create_datetime, update_datetime, create_user, update_user
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select qu.*,
               quc.content   as qu_content,
               quc.order_num as qu_order_num,
               quc.question_id,
               quc.order_char
        from t_test_question qu
                 left join t_test_question_choice quc on qu.id = quc.question_id and quc.deleted = 0
        where qu.deleted = 0
        <if test="createType!=null">
            and qu.create_type = #{createType}
        </if>
        <if test="questionType!=null">
            and qu.question_type = #{questionType}
        </if>
        <if test="createUser!=null">
            and qu.create_user = #{createUser}
        </if>
        order by qu.order_num ASC

    </select>

    <select id="systemQuestionIds" resultType="java.lang.Long">
        select id
        from t_test_question
        where deleted = 0
        <if test="type !=null">
            and create_type = #{type}
        </if>
        <if test="userId!=null">
            and create_user = #{userId}
        </if>
    </select>


</mapper>
