<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.tango.surfing.core.dal.mapper.user.TangoUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coco.tango.surfing.core.dal.domain.user.TangoUser">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birth_day" property="birthDay"/>
        <result column="school" property="school"/>
        <result column="professional" property="professional"/>
        <result column="avatar_url" property="avatarUrl"/>

        <result column="deleted" property="deleted"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name, sex, age, birth_day, school, professional, avatar_url, deleted, create_datetime, update_datetime, create_user, update_user
    </sql>
    <!-- 获取最大code -->
    <select id="getLastCode" resultType="java.lang.String">
        select code
        from t_user_tango
        where code like CONCAT(CONCAT(#{prefix}, '%'))
        order by code desc
        limit 0,1
    </select>

</mapper>
