<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coco.tango.surfing.core.dal.mapper.user.UserQusStateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coco.tango.surfing.core.dal.domain.user.UserQusState">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="qus_group" property="qusGroup"/>
        <result column="state" property="state"/>

        <result column="deleted" property="deleted"/>
        <result column="create_datetime" property="createDatetime"/>
        <result column="update_datetime" property="updateDatetime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, qus_group, state, deleted, create_datetime, update_datetime, create_user, update_user
    </sql>

</mapper>
